@import url(https://fonts.googleapis.com/css?family=Heebo|Ubuntu:700&display=swmenuap);
:root {
    --hoverCol: #659cf1;
    --hoverCol2: rgb(227, 234, 243);
    --backCol: white;
    --dackBackCol: rgb(70 71 79 / 71%);
    --mainFont: 'Heebo', sans-serif;
    --secFont: 'Ubuntu', sans-serif;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: var(--hoverCol2);
    font-family: var(--secFont);
    font-family: var(--mainFont);
    vertical-align: top;
}

a:hover:not(.menuLogo) {
    transform: scale(1.04);
}

body {
    transition: .5s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background: #26282e;
}

* {
    scrollbar-color: #3d4149 #26282e;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #3d4149;
}
::-webkit-scrollbar-track {
    background: #26282e;
}


img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-60px);
        box-shadow: 0 0 20px 0 #00000000;
    }
}

.nav {
    animation: fromTop .8s cubic-bezier(.58, -.11, .54, 1.29);
    border-bottom: 2px solid rgba(52, 54, 73, 0.5);
    background: #26282e00;
    padding-top: 10px;
    box-shadow: 0 0 50px 0 #00000094;
    white-space: nowrap;
}

.contact {
    cursor: pointer;
}

.lnk a, a.lnk {
    text-decoration: none;
    position: relative;
}

.lnk::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid rgb(114 124 172 / 50%);
    border-width: 0 0 1px;
    transition: .25s ease;
}

.lnk:hover::after {
    border: 1px solid #659df1;
    border: 1px solid #727bac;
}

.menuCont {
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: row;
    margin: auto;
    margin: 10px auto;
    width: 100%;
    margin-top: 0;
}

.menuLogo {
    font-family: var(--secFont);
    font-weight: 700;
    font-size: 30px;
}

.menuLinks {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    margin: auto 0;
}

.menuLink:not(:last-child) {
    position: relative;
    margin-right: 30px;
}

.menuLink:first-child {
    margin-left: 10px;
}

.welcome {
    font-size: 40px;
    margin: 90px auto 50px auto;
    font-weight: 700;
    font-family: var(--secFont);
}

.body {
    margin: auto;
    padding: 0 130px;
    margin-bottom: 100px;
    position: relative;
}

#about {
    position: relative;
    animation: toRight 1s ease;
}

@keyframes toRight {
    from {
        opacity: 0;
        left: -5%;
    }
    to {
        left: 0;
    }
}

.aboutBtns {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    transition: .5s ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.aboutBtns .btn {
    padding: 10px 17px 10px 17px;
    background: linear-gradient(to right, var(--dackBackCol), rgb(72 70 79 / 71%));
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s ease;
}

.aboutBtns .btn+.btn {
    margin-left: 20px;
}

.aboutBtns .btn:hover {
    background-color: var(--dackBackCol);
}

.body2 {
    padding: 0 0 200px 0;
    width: 100%;
    top: 350px;
}

.cards {
    text-align: center;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.card1 {
    animation: appear 1s ease-in-out;
}

.card2 {
    animation: appear 2s ease-in-out;
}

.card3 {
    animation: appear 3s ease-in-out;
}

.card4 {
    animation: appear 4s ease-in-out;
}

.card {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 6px;
    margin: 10px 20px;
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, .22) 0 10px 10px;
    transition: all .5s ease-in-out 0s;
    background: rgb(52 54 62);
}

.card:hover:not(.comingSoon) {
    position: relative;
    top: -10px;
}

.card .title {
    color: var(--hoverCol2);
    padding: 10px;
    position: relative;
    bottom: 0;
    background-color: rgb(39 42 49);
    transition: 1s ease-in-out;
    border-radius: inherit;
    opacity: .6;
}

.card a, .card p {
    color: #fff;
    text-align: left;
    margin: 3%3%3%3%;
}

.card .descLink, .card .projDesc .desc {
    color: #fff;
    text-align: left;
    margin: 5%5%5%5%;
    opacity: .6;
    position: relative;
}

.card .descLink {
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
background-color: #2C2D32;
}

.card .descLink:hover {
    color: #eaecef;
    transform: scale(1.1);
}

.card img {
    position: absolute;
    width: 150px;
    left: 25%;
    top: 30%;
    opacity: .1;
    pointer-events: none;
    transition: .5s ease;
}

.card:hover img {
    opacity: 1;
}

.card:hover .descLink {
    opacity: 1;
}

.card:hover .desc {
    visibility: hidden;
}

.card:not(.comingSoon):hover {
    background-color: rgb(55 57 66);
}

.card:not(.comingSoon):hover .title {
    background-color: rgb(55 57 66);
}

.card .title:after {
    color: inherit;
    opacity: .5;
}

.card1 .title:after {
    content: ' - Discord bot';
}

.card2 .title:after {
    content: ' - Discord Bot';
}

.card3 .title:after {
    content: ' - Website';
}

.card4 .title:after {
    content: ' - Website';
}


.projs {
    position: absolute;
    margin: 5%2%;
    z-index: 1;
    transition: 1s ease-in-out;
    animation: appear2 3s ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.projs span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    text-orientation: sideways;
    white-space: nowrap;
    color: var(--hoverCol2);
    opacity: .3;
    text-transform: uppercase;
    font-family: var(--secFont);
}

.body {
    animation: appear2 2s ease-in-out;
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

@media only screen and (max-width:1550px) {
    .body2 {
        top: 50px;
    }
}

@media only screen and (max-width:1450px) {
    .projs {
        transition: 1s ease;
        display: none;
    }
}

@media only screen and (max-width:1060px) {
    .body {
        padding: 0 20px;
    }
    .welcome {
        margin-top: 70px;
        font-size: 30px;
    }
    .menuCont {
        padding: 0 20px;
    }
}

@media screen and (max-width:900px) {
    .body2 {
        top: 50px;
    }
}

@media screen and (max-width:500px) {
    .about, .contact {
        display: none;
    }
    .body, .menuCont {
        padding: 0 10px;
    }
    .welcome {
        margin-top: 50px;
    }
}

::-moz-selection {
    color: var(--hoverCol);
}

::selection {
    color: var(--hoverCol);
}